@using MyBlog.Models.ViewModels
@model ViewPassword
<form asp-action="ChangePassword" asp-controller="Account">
    <div class="form-group mb-3">
        <label asp-for="CurentPassword" class="control-label"></label>
        <input asp-for="CurentPassword" class="form-control" placeholder="Mật khẩu hiện tại!">
        <span asp-validation-for="CurentPassword" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" placeholder="Mật khẩu hiện tại!">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Mật khẩu hiện tại!">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="">
        <button class="btn btn-custom-primary" type="submit">
            Lưu thay đổi
        </button>
    </div>
</form>

<form asp-action="ChangePassword" asp-controller="Account">
    <div class="form-group mb-3">
        <label  for="CurentPassword" required class="control-label">Mật khẩu hiện tại</label>
        <input name="CurentPassword" id="CurentPassword" required class="form-control" type="password" data-val="true" data-val-required="Mật khẩu hiện tại là bắt buộc!" placeholder="Mật khẩu hiện tại!">
        <span data-valmsg-for="CurentPassword" class="text-danger field-validation-valid" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group mb-3">
        <label for="NewPassword" class="control-label">Mật khẩu mới</label>
        <input name="NewPassword" id="NewPassword" required class="form-control" type="password" data-val="true" data-val-required="Mật khẩu mới tại là bắt buộc!" placeholder="Mật khẩu hiện tại!">
        <span data-valmsg-for="NewPassword" class="text-danger field-validation-valid" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group mb-4">
        <label for="ConfirmPassword" class="control-label">Xác nhận mật khẩu</label>
        <input name="ConfirmPassword" id="ConfirmPassword" required class="form-control" type="password" data-val="true" data-val-required="Xác nhận mật khẩu là bắt buộc!" placeholder="Mật khẩu hiện tại!">
        <span data-valmsg-for="ConfirmPassword" class="text-danger field-validation-valid" data-valmsg-replace="true"></span>
    </div>

    <div class="">
        <button class="btn btn-custom-primary" type="submit">
            Lưu thay đổi
        </button>
    </div>
</form>
