@{
    Layout = "_Layout";
}
<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="text-success text-center">Đăng ký thành công!</h1>
    <h2 class="text-info text-center">Vui lòng kiểm tra email và xác thực tài khoản</h2>
</div>